1. Importing Packages

In [1]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import Table, Column, Integer, String, ForeignKey, MetaData, DateTime, Float
from dotenv import load_dotenv

2. Load and Read CSV data

In [2]:
#for source crm
cust_crm = pd.read_csv('./source_crm/cust_info.csv')
prd_crm = pd.read_csv('./source_crm/prd_info.csv')
sales_crm= pd.read_csv('./source_crm/sales_details.csv')

In [3]:
#for source erp
cust_erp = pd.read_csv('./source_erp/CUST_AZ12.csv')
loc_erp = pd.read_csv('./source_erp/LOC_A101.csv')
px_cat_erp = pd.read_csv('./source_erp/PX_CAT_G1V2.csv')

3. Parse to Database

In [4]:
db_url = os.getenv("DATABASE_URL")
conn1 = sqlalchemy.create_engine(db_url)
load_dotenv()

True

In [5]:
cust_crm.to_sql('cust_crm', conn1, if_exists='replace', index=False)
prd_crm.to_sql('prd_crm', conn1, if_exists='replace', index=False)
sales_crm.to_sql('sales_crm', conn1, if_exists='replace', index=False)
cust_erp.to_sql('cust_erp', conn1, if_exists='replace', index=False)
loc_erp.to_sql('loc_erp', conn1, if_exists='replace', index=False)
px_cat_erp.to_sql('px_cat_erp', conn1, if_exists='replace', index=False)

37

4. Read database info

In [6]:
query_customercrm = "SELECT * FROM cust_crm"
query_productcrm = "SELECT * FROM prd_crm"
query_salescrm = "SELECT * FROM sales_crm"
query_customererp = "SELECT * FROM cust_erp" 
query_locationerp = "SELECT * FROM loc_erp"
query_px_caterp = "SELECT * FROM px_cat_erp"

In [7]:
cust_crm_df = pd.read_sql(query_customercrm, conn1)
prd_crm_df = pd.read_sql(query_productcrm, conn1)
sales_crm_df = pd.read_sql(query_salescrm, conn1)
cust_erp_df = pd.read_sql(query_customererp, conn1)
loc_erp_df = pd.read_sql(query_locationerp, conn1)
px_cat_erp_df = pd.read_sql(query_px_caterp, conn1)

In [8]:
#Check samples of each dataframe
cust_crm_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

5. Standardize IDs

In [9]:
#for cust_crm
cust_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

In [10]:
cust_crm_df['cst_id'] = cust_crm_df['cst_id'].astype(str).str.rstrip('0').str.rstrip('.')

In [11]:
cust_crm_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [12]:
#for cust_erp
cust_erp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   BDATE   18484 non-null  object
 2   GEN     17012 non-null  object
dtypes: object(3)
memory usage: 433.3+ KB

In [13]:
cust_erp_df['CID'] = cust_erp_df['CID'].str[8:]

In [14]:
cust_erp_df.head()

     CID       BDATE     GEN
0  11000  1971-10-06    Male
1  11001  1976-05-10    Male
2  11002  1971-02-09    Male
3  11003  1973-08-14  Female
4  11004  1979-08-05  Female

In [15]:
#for prd_crm
prd_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prd_id        397 non-null    int64
 1   prd_key       397 non-null    object
 2   prd_nm        397 non-null    object
 3   prd_cost      395 non-null    float64
 4   prd_line      380 non-null    object
 5   prd_start_dt  397 non-null    object
 6   prd_end_dt    200 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 21.8+ KB

In [16]:
prd_crm_df['prd_key_id'] = prd_crm_df['prd_key'].str[:5]

In [17]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO-RF
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO-RF
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC-HE

In [18]:
prd_crm_df['prd_sales_id'] = prd_crm_df['prd_key'].str[6:]

In [19]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id,prd_sales_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO-RF,FR-R92B-58
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO-RF,FR-R92R-58
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE,HL-U509-R
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE,HL-U509-R
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC-HE,HL-U509-R

In [20]:
prd_crm_df['prd_key_id'] = prd_crm_df['prd_key_id'].str.replace('-', '_')
prd_crm_df['prd_sales_id'] = prd_crm_df['prd_sales_id'].str.replace('-', '_', regex=True)

In [21]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id,prd_sales_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO_RF,FR_R92B_58
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO_RF,FR_R92R_58
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC_HE,HL_U509_R
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC_HE,HL_U509_R
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC_HE,HL_U509_R

In [22]:
#for sales_crm
sales_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sls_ord_num   60398 non-null  object
 1   sls_prd_key   60398 non-null  object
 2   sls_cust_id   60398 non-null  int64
 3   sls_order_dt  60398 non-null  int64
 4   sls_ship_dt   60398 non-null  int64
 5   sls_due_dt    60398 non-null  int64
 6   sls_sales     60390 non-null  float64
 7   sls_quantity  60398 non-null  int64
 8   sls_price     60391 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 4.1+ MB

In [23]:
sales_crm_df.head()

,sls_ord_num,sls_prd_key,sls_cust_id,sls_order_dt,sls_ship_dt,sls_due_dt,sls_sales,sls_quantity,sls_price
0,SO43697,BK-R93R-62,21768,20101229,20110105,20110110,3578.0,1,3578.0
1,SO43698,BK-M82S-44,28389,20101229,20110105,20110110,3400.0,1,3400.0
2,SO43699,BK-M82S-44,25863,20101229,20110105,20110110,3400.0,1,3400.0
3,SO43700,BK-R50B-62,14501,20101229,20110105,20110110,699.0,1,699.0
4,SO43701,BK-M82S-44,11003,20101229,20110105,20110110,3400.0,1,3400.0

In [24]:
#Standardize dates
sales_crm_df['sls_order_dt'] = pd.to_datetime(sales_crm_df['sls_order_dt'], format='%Y%m%d', errors='coerce')
sales_crm_df['sls_ship_dt'] = pd.to_datetime(sales_crm_df['sls_ship_dt'], format='%Y%m%d', errors='coerce')
sales_crm_df['sls_due_dt'] = pd.to_datetime(sales_crm_df['sls_due_dt'], format='%Y%m%d', errors='coerce')

In [25]:
sales_crm_df.head()

,sls_ord_num,sls_prd_key,sls_cust_id,sls_order_dt,sls_ship_dt,sls_due_dt,sls_sales,sls_quantity,sls_price
0,SO43697,BK-R93R-62,21768,2010-12-29,2011-01-05,2011-01-10,3578.0,1,3578.0
1,SO43698,BK-M82S-44,28389,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0
2,SO43699,BK-M82S-44,25863,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0
3,SO43700,BK-R50B-62,14501,2010-12-29,2011-01-05,2011-01-10,699.0,1,699.0
4,SO43701,BK-M82S-44,11003,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0

In [26]:
#for loc_erp
loc_erp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   CNTRY   18152 non-null  object
dtypes: object(2)
memory usage: 288.9+ KB

In [27]:
loc_erp_df['CID'] = loc_erp_df['CID'].replace('-','', regex=True)

In [28]:
loc_erp_df.head()

          CID      CNTRY
0  AW00011000  Australia
1  AW00011001  Australia
2  AW00011002  Australia
3  AW00011003  Australia
4  AW00011004  Australia

In [29]:
loc_erp_df.value_counts()

CID         CNTRY
AW00029483  France       1
AW00011000  Australia    1
AW00011001  Australia    1
AW00011002  Australia    1
AW00011003  Australia    1
                        ..
AW00011012  US           1
AW00011011  Australia    1
AW00011010  Australia    1
AW00011009  Australia    1
AW00011008  Australia    1
Name: count, Length: 18152, dtype: int64

In [30]:
px_cat_erp_df.head()

      ID          CAT             SUBCAT MAINTENANCE
0  AC_BR  Accessories         Bike Racks         Yes
1  AC_BS  Accessories        Bike Stands          No
2  AC_BC  Accessories  Bottles and Cages          No
3  AC_CL  Accessories           Cleaners         Yes
4  AC_FE  Accessories            Fenders          No

In [31]:
#Count number of duplicates per column
def count_duplicates(df):
    duplicates = {}
    for column in df.columns:
        duplicates[column] = df[column].duplicated().sum()
    return duplicates   

#Count duplicates in each ERP dataframe
cust_erp_duplicates = count_duplicates(cust_erp_df)
loc_erp_duplicates = count_duplicates(loc_erp_df)
px_cat_erp_duplicates = count_duplicates(px_cat_erp_df)

# Print the number of duplicates for each ERP dataframe
print("Customer ERP Duplicates:", cust_erp_duplicates)
print("Location ERP Duplicates:", loc_erp_duplicates)
print("PX Category ERP Duplicates:", px_cat_erp_duplicates)

Customer ERP Duplicates: {'CID': np.int64(7342), 'BDATE': np.int64(12332), 'GEN': np.int64(18475)}
Location ERP Duplicates: {'CID': np.int64(0), 'CNTRY': np.int64(18471)}
PX Category ERP Duplicates: {'ID': np.int64(0), 'CAT': np.int64(33), 'SUBCAT': np.int64(0), 'MAINTENANCE': np.int64(35)}

In [33]:
#Drop duplicate id in cust_erp_df
cust_erp_df = cust_erp_df.drop_duplicates(subset=['CID'], keep='first')

In [34]:
# Rename all columns for consistency
cust_crm_df.rename(columns={'cst_id': 'customer_id', 'cst_name': 'customer_name'}, inplace=True)
cust_erp_df.rename(columns={'CID': 'customer_id', 'CUST_NAME': 'customer_name'}, inplace=True)
prd_crm_df.rename(columns={'prd_key_id': 'product_id', 'prd_sales_id': 'product_sales_id'}, inplace=True)
sales_crm_df.rename(columns={'sls_order_id': 'sales_order_id', 'sls_order_dt': 'order_date'}, inplace=True)
loc_erp_df.rename(columns={'CID': 'customer_id', 'LOC_NAME': 'location_name'}, inplace=True)
px_cat_erp_df.rename(columns={'PX_CAT_ID': 'product_category_id', 'PX_CAT_NAME': 'product_category_name'}, inplace=True)

/tmp/ipykernel_151841/3706911123.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_erp_df.rename(columns={'CID': 'customer_id', 'CUST_NAME': 'customer_name'}, inplace=True)

In [35]:
# Display first few rows of each dataframe to verify changes
print("Customer CRM DataFrame: ")
print(cust_crm_df.head())
print("------")
print("Customer ERP DataFrame: ")
print(cust_erp_df.head())
print("------")
print("Product CRM DataFrame: ")
print(prd_crm_df.head())
print("------")
print("Location ERP DataFrame: ")
print(loc_erp_df.head())
print("------")
print("Product Category ERP DataFrame: ")
print(px_cat_erp_df.head())
print("------")
print("Sales CRM DataFrame: ")
print(sales_crm_df.head())

Customer CRM DataFrame:
  customer_id     cst_key cst_firstname cst_lastname cst_marital_status  \
0       11000  AW00011000           Jon        Yang                   M
1       11001  AW00011001        Eugene      Huang                    S
2       11002  AW00011002         Ruben       Torres                  M
3       11003  AW00011003       Christy          Zhu                  S
4       11004  AW00011004     Elizabeth      Johnson                  S

  cst_gndr cst_create_date
0        M      2025-10-06
1        M      2025-10-06
2        M      2025-10-06
3        F      2025-10-06
4        F      2025-10-06
------
Customer ERP DataFrame:
  customer_id       BDATE     GEN
0       11000  1971-10-06    Male
1       11001  1976-05-10    Male
2       11002  1971-02-09    Male
3       11003  1973-08-14  Female
4       11004  1979-08-05  Female
------
Product CRM DataFrame:
   prd_id           prd_key                     prd_nm  prd_cost prd_line  \
0     210  CO-RF-FR-R92B-58  HL Road Frame - Black- 58       NaN       R
1     211  CO-RF-FR-R92R-58    HL Road Frame - Red- 58       NaN       R
2     212   AC-HE-HL-U509-R      Sport-100 Helmet- Red      12.0       S
3     213   AC-HE-HL-U509-R      Sport-100 Helmet- Red      14.0       S
4     214   AC-HE-HL-U509-R      Sport-100 Helmet- Red      13.0       S

  prd_start_dt  prd_end_dt product_id product_sales_id
0   2003-07-01        None      CO_RF       FR_R92B_58
1   2003-07-01        None      CO_RF       FR_R92R_58
2   2011-07-01  2007-12-28      AC_HE        HL_U509_R
3   2012-07-01  2008-12-27      AC_HE        HL_U509_R
4   2013-07-01        None      AC_HE        HL_U509_R
------
Location ERP DataFrame:
  customer_id      CNTRY
0  AW00011000  Australia
1  AW00011001  Australia
2  AW00011002  Australia
3  AW00011003  Australia
4  AW00011004  Australia
------
Product Category ERP DataFrame:
      ID          CAT             SUBCAT MAINTENANCE
0  AC_BR  Accessories         Bike Racks         Yes
1  AC_BS  Accessories        Bike Stands          No
2  AC_BC  Accessories  Bottles and Cages          No
3  AC_CL  Accessories           Cleaners         Yes
4  AC_FE  Accessories            Fenders          No
------
Sales CRM DataFrame:
  sls_ord_num sls_prd_key  sls_cust_id order_date sls_ship_dt sls_due_dt  \
0     SO43697  BK-R93R-62        21768 2010-12-29  2011-01-05 2011-01-10
1     SO43698  BK-M82S-44        28389 2010-12-29  2011-01-05 2011-01-10
2     SO43699  BK-M82S-44        25863 2010-12-29  2011-01-05 2011-01-10
3     SO43700  BK-R50B-62        14501 2010-12-29  2011-01-05 2011-01-10
4     SO43701  BK-M82S-44        11003 2010-12-29  2011-01-05 2011-01-10

   sls_sales  sls_quantity  sls_price
0     3578.0             1     3578.0
1     3400.0             1     3400.0
2     3400.0             1     3400.0
3      699.0             1      699.0
4     3400.0             1     3400.0

In [36]:
# Display summary statistics of each DataFrame
print("Summary statistics for Customer CRM DataFrame: ")
print(cust_crm_df.describe())
print("------")
print("Summary statistics for Customer ERP DataFrame: ")
print(cust_erp_df.describe())
print("------")
print("Summary statistics for Product CRM DataFrame: ")
print(prd_crm_df.describe())
print("------")
print("Summary statistics for Location ERP DataFrame: ")
print(loc_erp_df.describe())
print("------")
print("Summary statistics for Product Category ERP DataFrame: ")
print(px_cat_erp_df.describe())
print("------")
print("Summary statistics for Sales CRM DataFrame: ")
print(sales_crm_df.describe())

Summary statistics for Customer CRM DataFrame:

       customer_id     cst_key cst_firstname cst_lastname cst_marital_status  \
count        18494       18494         18486        18487              18487
unique       18485       18488           687          397                  2
top            nan  AW00029466     Katherine         Diaz                  M
freq             4           3            97          209              10013

       cst_gndr cst_create_date
count     13916           18490
unique        2             114
top           M      2026-01-05
freq       7068            6856
------
Summary statistics for Customer ERP DataFrame:
       customer_id       BDATE   GEN
count        11142       11142  9714
unique       11142        5142     8
top             41  1975-05-01  Male
freq             1          14  4869
------
Summary statistics for Product CRM DataFrame:
           prd_id     prd_cost
count  397.000000   395.000000
mean   408.000000   434.286076
std    114.748275   497.400228
min    210.000000     1.000000
25%    309.000000    37.000000
50%    408.000000   205.000000
75%    507.000000   661.000000
max    606.000000  2171.000000
------
Summary statistics for Location ERP DataFrame:
       customer_id      CNTRY
count        18484      18152
unique       18484         12
top     AW00029483  Australia
freq             1       3591
------
Summary statistics for Product Category ERP DataFrame:
           ID         CAT      SUBCAT MAINTENANCE
count      37          37          37          37
unique     37           4          37           2
top     AC_BR  Components  Bike Racks         Yes
freq        1          14           1          20
------
Summary statistics for Sales CRM DataFrame:
        sls_cust_id                     order_date  \
count  60398.000000                          60379
mean   18841.685420  2013-06-09 11:46:05.034200832
min    11000.000000            2010-12-29 00:00:00
25%    14003.000000            2013-04-03 00:00:00
50%    18143.000000            2013-07-14 00:00:00
75%    23429.750000            2013-10-18 00:00:00
max    29483.000000            2014-01-28 00:00:00
std     5432.430404                            NaN

                         sls_ship_dt                     sls_due_dt  \
count                          60398                          60398
mean   2013-06-16 12:21:38.903937280  2013-06-21 12:21:38.903937280
min              2011-01-05 00:00:00            2011-01-10 00:00:00
25%              2013-04-10 00:00:00            2013-04-15 00:00:00
50%              2013-07-21 00:00:00            2013-07-26 00:00:00
75%              2013-10-25 00:00:00            2013-10-30 00:00:00
max              2014-02-04 00:00:00            2014-02-09 00:00:00
std                              NaN                            NaN

          sls_sales  sls_quantity    sls_price
count  60390.000000  60398.000000  60391.00000
mean     486.098725      1.000414    486.00813
min      -54.000000      1.000000  -1701.00000
25%        8.000000      1.000000      8.00000
50%       30.000000      1.000000     30.00000
75%      540.000000      1.000000    540.00000
max     3578.000000     10.000000   3578.00000
std      928.500867      0.044011    928.53838

In [37]:
# Standardize IDs as objects (strings) across all DataFrames
cust_crm_df['customer_id'] = cust_crm_df['customer_id'].astype(str)
cust_erp_df['customer_id'] = cust_erp_df['customer_id'].astype(str)
prd_crm_df['product_id'] = prd_crm_df['product_id'].astype(str)
loc_erp_df['customer_id'] = loc_erp_df['customer_id'].astype(str)
px_cat_erp_df['ID'] = px_cat_erp_df['ID'].astype(str)
sales_crm_df['sls_cust_id'] = sales_crm_df['sls_cust_id'].astype(str)
sales_crm_df['sls_prd_key'] = sales_crm_df['sls_prd_key'].astype(str)

# Verify the changes
print("Data types after standardization:")
print("Customer CRM DataFrame:")
print(cust_crm_df.dtypes)
print("------")
print("Customer ERP DataFrame:")
print(cust_erp_df.dtypes)
print("------")
print("Product CRM DataFrame:")
print(prd_crm_df.dtypes)
print("------")
print("Location ERP DataFrame:")
print(loc_erp_df.dtypes)
print("------")
print("Product Category ERP DataFrame:")
print(px_cat_erp_df.dtypes)
print("------")
print("Sales CRM DataFrame:")
print(sales_crm_df.dtypes)

Data types after standardization:
Customer CRM DataFrame:
customer_id           object
cst_key               object
cst_firstname         object
cst_lastname          object
cst_marital_status    object
cst_gndr              object
cst_create_date       object
dtype: object
------
Customer ERP DataFrame:
customer_id    object
BDATE          object
GEN            object
dtype: object
------
Product CRM DataFrame:
prd_id                int64
prd_key              object
prd_nm               object
prd_cost            float64
prd_line             object
prd_start_dt         object
prd_end_dt           object
product_id           object
product_sales_id     object
dtype: object
------
Location ERP DataFrame:
customer_id    object
CNTRY          object
dtype: object
------
Product Category ERP DataFrame:
ID             object
CAT            object
SUBCAT         object
MAINTENANCE    object
dtype: object
------
Sales CRM DataFrame:
sls_ord_num             object
sls_prd_key             object
sls_cust_id             object
order_date      datetime64[ns]
sls_ship_dt     datetime64[ns]
sls_due_dt      datetime64[ns]
sls_sales              float64
sls_quantity             int64
sls_price              float64
dtype: object

/tmp/ipykernel_151841/2270103645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_erp_df['customer_id'] = cust_erp_df['customer_id'].astype(str)

6. Parse to Warehouse

In [38]:
wh_url = os.getenv("WAREHOUSE_URL")
conn2 = sqlalchemy.create_engine(wh_url)
load_dotenv()

True

In [39]:
# Setup warehouse connection
wh_url = os.getenv("WAREHOUSE_URL")
conn2 = sqlalchemy.create_engine(wh_url)
load_dotenv()

from sqlalchemy import text

# Drop all tables in reverse order to handle dependencies
with conn2.connect() as connection:
    connection = connection.execution_options(isolation_level="AUTOCOMMIT")
    for table in ['sales_crm', 'loc_erp', 'px_cat_erp', 'prd_crm', 'cust_erp', 'cust_crm']:
        connection.execute(text(f'DROP TABLE IF EXISTS {table} CASCADE'))
    connection.commit()

print("All tables dropped successfully")

All tables dropped successfully

In [40]:
# Verify all tables are dropped
with conn2.connect() as connection:
    result = connection.execute(text("""
        SELECT table_name 
        FROM information_schema.tables 
        WHERE table_schema = 'public'
    """))
    tables = result.fetchall()
    print("Remaining tables in database:", tables)

Remaining tables in database: []

In [41]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey, Float, DateTime
from sqlalchemy.orm import relationship

# Define metadata
metadata = MetaData()

# Define tables with relationships
cust_erp_table = Table(
    'cust_erp', metadata,
    Column('customer_id', String, primary_key=True),
    Column('BDATE', String),
    Column('GEN', String)
)

cust_crm_table = Table(
    'cust_crm', metadata,
    Column('customer_id', String, ForeignKey('cust_erp.customer_id'), primary_key=True),
    Column('cst_key', String),
    Column('cst_firstname', String),
    Column('cst_lastname', String),
    Column('cst_marital_status', String),
    Column('cst_gndr', String),
    Column('cst_create_date', String)
)

prd_crm_table = Table(
    'prd_crm', metadata,
    Column('product_id', String, primary_key=True),
    Column('prd_key', String),
    Column('prd_nm', String),
    Column('prd_cost', Float),
    Column('prd_line', String),
    Column('prd_start_dt', String),
    Column('prd_end_dt', String)
)

sales_crm_table = Table(
    'sales_crm', metadata,
    Column('sales_order_id', String, primary_key=True),
    Column('sls_cust_id', String, ForeignKey('cust_erp.customer_id')),
    Column('sls_prd_key', String, ForeignKey('prd_crm.product_id')),
    Column('order_date', DateTime),
    Column('sls_ship_dt', DateTime),
    Column('sls_due_dt', DateTime),
    Column('sls_sales', Float),
    Column('sls_quantity', Integer),
    Column('sls_price', Float)
)

loc_erp_table = Table(
    'loc_erp', metadata,
    Column('customer_id', String, ForeignKey('cust_erp.customer_id'), primary_key=True),
    Column('CNTRY', String)
)

px_cat_erp_table = Table(
    'px_cat_erp', metadata,
    Column('product_category_id', String, primary_key=True),
    Column('CAT', String),
    Column('SUBCAT', String),
    Column('MAINTENANCE', String)
)

In [42]:
from tqdm import tqdm

# List of dataframes and their corresponding table names
dataframes = [
    (cust_erp_df, 'cust_erp'),
    (cust_crm_df, 'cust_crm'),
    (prd_crm_df, 'prd_crm'),
    (sales_crm_df, 'sales_crm'),
    (loc_erp_df, 'loc_erp'),
    (px_cat_erp_df, 'px_cat_erp')
]

# Insert data into tables with progress bar
for df, table_name in tqdm(dataframes, desc="Inserting data into tables"):
    df.to_sql(table_name, conn2, if_exists='append', index=False)

print("Data inserted successfully.")

Inserting data into tables:   0%|          | 0/6 [00:00<?, ?it/s]

Inserting data into tables: 100%|| 6/6 [01:00<00:00, 10.10s/it]

Data inserted successfully.

In [45]:
#Read sample tables to verify
def read_sample_table(table_name, conn):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    return pd.read_sql(query, conn)

# Read sample data from each table
sample_cust_erp = read_sample_table('cust_erp', conn2)

sample_cust_erp

  customer_id       BDATE     GEN
0       11000  1971-10-06    Male
1       11001  1976-05-10    Male
2       11002  1971-02-09    Male
3       11003  1973-08-14  Female
4       11004  1979-08-05  Female