Importing Packages

In [1]:
import pandas as pd
import numpy as np

Load and Read CSV data

In [42]:
#for source crm
cust_crm = pd.read_csv('./source_crm/cust_info.csv')
prd_crm = pd.read_csv('./source_crm/prd_info.csv')
sales_crm= pd.read_csv('./source_crm/sales_details.csv')

In [27]:
#for source erp
cust_erp = pd.read_csv('./source_erp/CUST_AZ12.csv')
loc_erp = pd.read_csv('./source_erp/LOC_A101.csv')
px_cat_erp = pd.read_csv('./source_erp/PX_CAT_G1V2.csv')

Read per CRM

In [15]:
print(cust_crm.head())
print(cust_crm.shape)

    cst_id     cst_key cst_firstname cst_lastname cst_marital_status cst_gndr  \
0  11000.0  AW00011000           Jon        Yang                   M        M
1  11001.0  AW00011001        Eugene      Huang                    S        M
2  11002.0  AW00011002         Ruben       Torres                  M        M
3  11003.0  AW00011003       Christy          Zhu                  S        F
4  11004.0  AW00011004     Elizabeth      Johnson                  S        F

  cst_create_date
0      2025-10-06
1      2025-10-06
2      2025-10-06
3      2025-10-06
4      2025-10-06
(18494, 7)

In [16]:
print(prd_crm.head())
print(prd_crm.shape)

   prd_id           prd_key                     prd_nm  prd_cost prd_line  \
0     210  CO-RF-FR-R92B-58  HL Road Frame - Black- 58       NaN       R
1     211  CO-RF-FR-R92R-58    HL Road Frame - Red- 58       NaN       R
2     212   AC-HE-HL-U509-R      Sport-100 Helmet- Red      12.0       S
3     213   AC-HE-HL-U509-R      Sport-100 Helmet- Red      14.0       S
4     214   AC-HE-HL-U509-R      Sport-100 Helmet- Red      13.0       S

  prd_start_dt  prd_end_dt
0   2003-07-01         NaN
1   2003-07-01         NaN
2   2011-07-01  2007-12-28
3   2012-07-01  2008-12-27
4   2013-07-01         NaN
(397, 7)

In [17]:
print(sales_crm.head())
print(sales_crm.shape)

  sls_ord_num sls_prd_key  sls_cust_id  sls_order_dt  sls_ship_dt  sls_due_dt  \
0     SO43697  BK-R93R-62        21768      20101229     20110105    20110110
1     SO43698  BK-M82S-44        28389      20101229     20110105    20110110
2     SO43699  BK-M82S-44        25863      20101229     20110105    20110110
3     SO43700  BK-R50B-62        14501      20101229     20110105    20110110
4     SO43701  BK-M82S-44        11003      20101229     20110105    20110110

   sls_sales  sls_quantity  sls_price
0     3578.0             1     3578.0
1     3400.0             1     3400.0
2     3400.0             1     3400.0
3      699.0             1      699.0
4     3400.0             1     3400.0
(60398, 9)

Read per ERP

In [18]:
print(cust_erp.head())
print(cust_erp.shape)

             CID       BDATE     GEN
0  NASAW00011000  1971-10-06    Male
1  NASAW00011001  1976-05-10    Male
2  NASAW00011002  1971-02-09    Male
3  NASAW00011003  1973-08-14  Female
4  NASAW00011004  1979-08-05  Female
(18484, 3)

In [19]:
print(loc_erp.head())
print(loc_erp.shape)

           CID      CNTRY
0  AW-00011000  Australia
1  AW-00011001  Australia
2  AW-00011002  Australia
3  AW-00011003  Australia
4  AW-00011004  Australia
(18484, 2)

In [21]:
print(px_cat_erp)
print(px_cat_erp.shape)

       ID          CAT             SUBCAT MAINTENANCE
0   AC_BR  Accessories         Bike Racks         Yes
1   AC_BS  Accessories        Bike Stands          No
2   AC_BC  Accessories  Bottles and Cages          No
3   AC_CL  Accessories           Cleaners         Yes
4   AC_FE  Accessories            Fenders          No
5   AC_HE  Accessories            Helmets         Yes
6   AC_HP  Accessories    Hydration Packs          No
7   AC_LI  Accessories             Lights         Yes
8   AC_LO  Accessories              Locks         Yes
9   AC_PA  Accessories           Panniers          No
10  AC_PU  Accessories              Pumps         Yes
11  AC_TT  Accessories    Tires and Tubes         Yes
12  BI_MB        Bikes     Mountain Bikes         Yes
13  BI_RB        Bikes         Road Bikes         Yes
14  BI_TB        Bikes      Touring Bikes         Yes
15  CL_BS     Clothing         Bib-Shorts          No
16  CL_CA     Clothing               Caps          No
17  CL_GL     Clothing             Gloves          No
18  CL_JE     Clothing            Jerseys          No
19  CL_SH     Clothing             Shorts          No
20  CL_SO     Clothing              Socks          No
21  CL_TI     Clothing             Tights          No
22  CL_VE     Clothing              Vests          No
23  CO_BB   Components    Bottom Brackets         Yes
24  CO_BR   Components             Brakes         Yes
25  CO_CH   Components             Chains         Yes
26  CO_CS   Components          Cranksets         Yes
27  CO_DE   Components        Derailleurs         Yes
28  CO_FO   Components              Forks         Yes
29  CO_HB   Components         Handlebars          No
30  CO_HS   Components           Headsets          No
31  CO_MF   Components    Mountain Frames         Yes
32  CO_PD   Components             Pedals          No
33  CO_RF   Components        Road Frames         Yes
34  CO_SA   Components            Saddles          No
35  CO_TF   Components     Touring Frames         Yes
36  CO_WH   Components             Wheels         Yes
(37, 4)

Standardize IDs before parsing to Staging Area

In [28]:
#for cust_crm
cust_crm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

In [32]:
cust_crm['cst_id'] = cust_crm['cst_id'].astype(str).str.rstrip('0').str.rstrip('.')

In [33]:
cust_crm.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [34]:
#for cust_erp
cust_erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   BDATE   18484 non-null  object
 2   GEN     17012 non-null  object
dtypes: object(3)
memory usage: 433.3+ KB

In [35]:
cust_erp['CID'] = cust_erp['CID'].str[8:]

In [36]:
cust_erp.head()

     CID       BDATE     GEN
0  11000  1971-10-06    Male
1  11001  1976-05-10    Male
2  11002  1971-02-09    Male
3  11003  1973-08-14  Female
4  11004  1979-08-05  Female

In [43]:
#for prd_crm
prd_crm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prd_id        397 non-null    int64
 1   prd_key       397 non-null    object
 2   prd_nm        397 non-null    object
 3   prd_cost      395 non-null    float64
 4   prd_line      380 non-null    object
 5   prd_start_dt  397 non-null    object
 6   prd_end_dt    200 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 21.8+ KB

In [44]:
prd_crm['prd_key_id'] = prd_crm['prd_key'].str[:5]

In [45]:
prd_crm.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,NaN,CO-RF
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,NaN,CO-RF
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,NaN,AC-HE

In [46]:
prd_crm['prd_sales_id'] = prd_crm['prd_key'].str[6:]

In [47]:
prd_crm.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id,prd_sales_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,NaN,CO-RF,FR-R92B-58
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,NaN,CO-RF,FR-R92R-58
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE,HL-U509-R
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE,HL-U509-R
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,NaN,AC-HE,HL-U509-R

In [48]:
#for loc_erp
loc_erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   CNTRY   18152 non-null  object
dtypes: object(2)
memory usage: 288.9+ KB

In [51]:
loc_erp['CID'] = loc_erp['CID'].replace('-','', regex=True)

In [52]:
loc_erp.head()

          CID      CNTRY
0  AW00011000  Australia
1  AW00011001  Australia
2  AW00011002  Australia
3  AW00011003  Australia
4  AW00011004  Australia

In [54]:
loc_erp.value_counts()

CID         CNTRY
AW00029483  France       1
AW00011000  Australia    1
AW00011001  Australia    1
AW00011002  Australia    1
AW00011003  Australia    1
                        ..
AW00011012  US           1
AW00011011  Australia    1
AW00011010  Australia    1
AW00011009  Australia    1
AW00011008  Australia    1
Name: count, Length: 18152, dtype: int64