In [57]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from sqlalchemy import Table, Column, Integer, String, ForeignKey, MetaData, DateTime, Float
from dotenv import load_dotenv

2. Load and Read CSV data

In [58]:
#for source crm
cust_crm = pd.read_csv('./source_crm/cust_info.csv')
prd_crm = pd.read_csv('./source_crm/prd_info.csv')
sales_crm= pd.read_csv('./source_crm/sales_details.csv')

In [59]:
#for source erp
cust_erp = pd.read_csv('./source_erp/CUST_AZ12.csv')
loc_erp = pd.read_csv('./source_erp/LOC_A101.csv')
px_cat_erp = pd.read_csv('./source_erp/PX_CAT_G1V2.csv')

3. Parse to Database

In [60]:
db_url = os.getenv("DATABASE_URL")
conn1 = sqlalchemy.create_engine(db_url)
load_dotenv()

True

In [61]:
import os
import sqlalchemy

# Remove the parentheses around the URL
%env DATABASE_URL=postgresql://warehouse_g6bz_user:jC9UDZXRmW3AAGqpDNZbd5mB7x9M7UBu@dpg-d0p8t50dl3ps73aimi50-a.oregon-postgres.render.com/warehouse_g6bz

db_url = os.getenv("DATABASE_URL")
conn1 = sqlalchemy.create_engine(db_url)
print("Database connection established successfully!")

env: DATABASE_URL=postgresql://warehouse_g6bz_user:jC9UDZXRmW3AAGqpDNZbd5mB7x9M7UBu@dpg-d0p8t50dl3ps73aimi50-a.oregon-postgres.render.com/warehouse_g6bz
Database connection established successfully!

In [62]:
cust_crm.to_sql('cust_crm', conn1, if_exists='replace', index=False)
prd_crm.to_sql('prd_crm', conn1, if_exists='replace', index=False)
sales_crm.to_sql('sales_crm', conn1, if_exists='replace', index=False)
cust_erp.to_sql('cust_erp', conn1, if_exists='replace', index=False)
loc_erp.to_sql('loc_erp', conn1, if_exists='replace', index=False)
px_cat_erp.to_sql('px_cat_erp', conn1, if_exists='replace', index=False)

37

4. Read database info

In [63]:
query_customercrm = "SELECT * FROM cust_crm"
query_productcrm = "SELECT * FROM prd_crm"
query_salescrm = "SELECT * FROM sales_crm"
query_customererp = "SELECT * FROM cust_erp"
query_locationerp = "SELECT * FROM loc_erp"
query_px_caterp = "SELECT * FROM px_cat_erp"

In [64]:
cust_crm_df = pd.read_sql(query_customercrm, conn1)
prd_crm_df = pd.read_sql(query_productcrm, conn1)
sales_crm_df = pd.read_sql(query_salescrm, conn1)
cust_erp_df = pd.read_sql(query_customererp, conn1)
loc_erp_df = pd.read_sql(query_locationerp, conn1)
px_cat_erp_df = pd.read_sql(query_px_caterp, conn1)

In [65]:
#Check samples of each dataframe
cust_crm_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

5. Standardize IDs

In [66]:
#for cust_crm
cust_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

In [67]:
cust_crm_df['cst_id'] = cust_crm_df['cst_id'].astype(str).str.rstrip('0').str.rstrip('.')

In [68]:
cust_crm_df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [69]:
#for cust_erp
cust_erp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   BDATE   18484 non-null  object
 2   GEN     17012 non-null  object
dtypes: object(3)
memory usage: 433.3+ KB

In [70]:
cust_erp_df['CID'] = cust_erp_df['CID'].str[8:]

In [71]:
cust_erp_df.head()

     CID       BDATE     GEN
0  11000  1971-10-06    Male
1  11001  1976-05-10    Male
2  11002  1971-02-09    Male
3  11003  1973-08-14  Female
4  11004  1979-08-05  Female

In [72]:
#for prd_crm
prd_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prd_id        397 non-null    int64
 1   prd_key       397 non-null    object
 2   prd_nm        397 non-null    object
 3   prd_cost      395 non-null    float64
 4   prd_line      380 non-null    object
 5   prd_start_dt  397 non-null    object
 6   prd_end_dt    200 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 21.8+ KB

In [73]:
prd_crm_df['prd_key_id'] = prd_crm_df['prd_key'].str[:5]

In [74]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO-RF
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO-RF
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC-HE

In [75]:
prd_crm_df['prd_sales_id'] = prd_crm_df['prd_key'].str[6:]

In [76]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id,prd_sales_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO-RF,FR-R92B-58
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO-RF,FR-R92R-58
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC-HE,HL-U509-R
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC-HE,HL-U509-R
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC-HE,HL-U509-R

In [77]:
prd_crm_df['prd_key_id'] = prd_crm_df['prd_key_id'].str.replace('-', '_')
prd_crm_df['prd_sales_id'] = prd_crm_df['prd_sales_id'].str.replace('-', '_', regex=True)

In [78]:
prd_crm_df.head()

,prd_id,prd_key,prd_nm,prd_cost,prd_line,prd_start_dt,prd_end_dt,prd_key_id,prd_sales_id
0,210,CO-RF-FR-R92B-58,HL Road Frame - Black- 58,NaN,R,2003-07-01,None,CO_RF,FR_R92B_58
1,211,CO-RF-FR-R92R-58,HL Road Frame - Red- 58,NaN,R,2003-07-01,None,CO_RF,FR_R92R_58
2,212,AC-HE-HL-U509-R,Sport-100 Helmet- Red,12.0,S,2011-07-01,2007-12-28,AC_HE,HL_U509_R
3,213,AC-HE-HL-U509-R,Sport-100 Helmet- Red,14.0,S,2012-07-01,2008-12-27,AC_HE,HL_U509_R
4,214,AC-HE-HL-U509-R,Sport-100 Helmet- Red,13.0,S,2013-07-01,None,AC_HE,HL_U509_R

In [79]:
#for sales_crm
sales_crm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sls_ord_num   60398 non-null  object
 1   sls_prd_key   60398 non-null  object
 2   sls_cust_id   60398 non-null  int64
 3   sls_order_dt  60398 non-null  int64
 4   sls_ship_dt   60398 non-null  int64
 5   sls_due_dt    60398 non-null  int64
 6   sls_sales     60390 non-null  float64
 7   sls_quantity  60398 non-null  int64
 8   sls_price     60391 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 4.1+ MB

In [80]:
sales_crm_df.head()

,sls_ord_num,sls_prd_key,sls_cust_id,sls_order_dt,sls_ship_dt,sls_due_dt,sls_sales,sls_quantity,sls_price
0,SO43697,BK-R93R-62,21768,20101229,20110105,20110110,3578.0,1,3578.0
1,SO43698,BK-M82S-44,28389,20101229,20110105,20110110,3400.0,1,3400.0
2,SO43699,BK-M82S-44,25863,20101229,20110105,20110110,3400.0,1,3400.0
3,SO43700,BK-R50B-62,14501,20101229,20110105,20110110,699.0,1,699.0
4,SO43701,BK-M82S-44,11003,20101229,20110105,20110110,3400.0,1,3400.0

In [81]:
#Standardize dates
sales_crm_df['sls_order_dt'] = pd.to_datetime(sales_crm_df['sls_order_dt'], format='%Y%m%d', errors='coerce')
sales_crm_df['sls_ship_dt'] = pd.to_datetime(sales_crm_df['sls_ship_dt'], format='%Y%m%d', errors='coerce')
sales_crm_df['sls_due_dt'] = pd.to_datetime(sales_crm_df['sls_due_dt'], format='%Y%m%d', errors='coerce')

In [82]:
sales_crm_df.head()

,sls_ord_num,sls_prd_key,sls_cust_id,sls_order_dt,sls_ship_dt,sls_due_dt,sls_sales,sls_quantity,sls_price
0,SO43697,BK-R93R-62,21768,2010-12-29,2011-01-05,2011-01-10,3578.0,1,3578.0
1,SO43698,BK-M82S-44,28389,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0
2,SO43699,BK-M82S-44,25863,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0
3,SO43700,BK-R50B-62,14501,2010-12-29,2011-01-05,2011-01-10,699.0,1,699.0
4,SO43701,BK-M82S-44,11003,2010-12-29,2011-01-05,2011-01-10,3400.0,1,3400.0

In [83]:
#for loc_erp
loc_erp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     18484 non-null  object
 1   CNTRY   18152 non-null  object
dtypes: object(2)
memory usage: 288.9+ KB

In [84]:
loc_erp_df['CID'] = loc_erp_df['CID'].replace('-','', regex=True)

In [85]:
loc_erp_df.head()

          CID      CNTRY
0  AW00011000  Australia
1  AW00011001  Australia
2  AW00011002  Australia
3  AW00011003  Australia
4  AW00011004  Australia

In [86]:
loc_erp_df.value_counts()

CID         CNTRY
AW00029483  France       1
AW00011000  Australia    1
AW00011001  Australia    1
AW00011002  Australia    1
AW00011003  Australia    1
                        ..
AW00011012  US           1
AW00011011  Australia    1
AW00011010  Australia    1
AW00011009  Australia    1
AW00011008  Australia    1
Name: count, Length: 18152, dtype: int64

In [ ]:
# Define the mapping for the CNTRY column
country_mapping = {
    'DE': 'Germany',
    'US': 'United States',
    'USA': 'United States',
    None: 'Other'  # Handle missing values
}

# Map any integer to 'Other'
country_mapping.update({key: 'Other' for key in range(-1000000, 1000000)})

# Apply the mapping to the CNTRY column
loc_erp_df['CNTRY'] = loc_erp_df['CNTRY'].replace(country_mapping).fillna('Other')

# Verify the changes
print(loc_erp_df['CNTRY'].unique())

['Australia' 'United States' 'Canada' 'Germany' 'United Kingdom' 'France'
 'Other' '  ' ' ' '   ']

In [88]:
px_cat_erp_df.head()

      ID          CAT             SUBCAT MAINTENANCE
0  AC_BR  Accessories         Bike Racks         Yes
1  AC_BS  Accessories        Bike Stands          No
2  AC_BC  Accessories  Bottles and Cages          No
3  AC_CL  Accessories           Cleaners         Yes
4  AC_FE  Accessories            Fenders          No

In [89]:
#Count number of duplicates per column
def count_duplicates(df):
    duplicates = {}
    for column in df.columns:
        duplicates[column] = df[column].duplicated().sum()
    return duplicates

#Count duplicates in each ERP dataframe
cust_erp_duplicates = count_duplicates(cust_erp_df)
loc_erp_duplicates = count_duplicates(loc_erp_df)
px_cat_erp_duplicates = count_duplicates(px_cat_erp_df)

# Print the number of duplicates for each ERP dataframe
print("Customer ERP Duplicates:", cust_erp_duplicates)
print("Location ERP Duplicates:", loc_erp_duplicates)
print("PX Category ERP Duplicates:", px_cat_erp_duplicates)

Customer ERP Duplicates: {'CID': np.int64(7342), 'BDATE': np.int64(12332), 'GEN': np.int64(18475)}
Location ERP Duplicates: {'CID': np.int64(0), 'CNTRY': np.int64(18474)}
PX Category ERP Duplicates: {'ID': np.int64(0), 'CAT': np.int64(33), 'SUBCAT': np.int64(0), 'MAINTENANCE': np.int64(35)}

In [90]:
#Drop duplicate id in cust_erp_df
cust_erp_df = cust_erp_df.drop_duplicates(subset=['CID'], keep='first')

In [91]:
# Rename all columns for consistency
cust_crm_df.rename(columns={'cst_id': 'customer_id', 'cst_name': 'customer_name'}, inplace=True)
cust_erp_df.rename(columns={'CID': 'customer_id', 'CUST_NAME': 'customer_name'}, inplace=True)
prd_crm_df.rename(columns={'prd_key_id': 'product_id', 'prd_sales_id': 'product_sales_id'}, inplace=True)
sales_crm_df.rename(columns={'sls_order_id': 'sales_order_id', 'sls_order_dt': 'order_date'}, inplace=True)
loc_erp_df.rename(columns={'CID': 'customer_id', 'LOC_NAME': 'location_name'}, inplace=True)
px_cat_erp_df.rename(columns={'PX_CAT_ID': 'product_category_id', 'PX_CAT_NAME': 'product_category_name'}, inplace=True)

In [92]:
# Display first few rows of each dataframe to verify changes
print("Customer CRM DataFrame: ")
print(cust_crm_df.head())
print("------")
print("Customer ERP DataFrame: ")
print(cust_erp_df.head())
print("------")
print("Product CRM DataFrame: ")
print(prd_crm_df.head())
print("------")
print("Location ERP DataFrame: ")
print(loc_erp_df.head())
print("------")
print("Product Category ERP DataFrame: ")
print(px_cat_erp_df.head())
print("------")
print("Sales CRM DataFrame: ")
print(sales_crm_df.head())

Customer CRM DataFrame:
  customer_id     cst_key cst_firstname cst_lastname cst_marital_status  \
0       11000  AW00011000           Jon        Yang                   M
1       11001  AW00011001        Eugene      Huang                    S
2       11002  AW00011002         Ruben       Torres                  M
3       11003  AW00011003       Christy          Zhu                  S
4       11004  AW00011004     Elizabeth      Johnson                  S

  cst_gndr cst_create_date
0        M      2025-10-06
1        M      2025-10-06
2        M      2025-10-06
3        F      2025-10-06
4        F      2025-10-06
------
Customer ERP DataFrame:
  customer_id       BDATE     GEN
0       11000  1971-10-06    Male
1       11001  1976-05-10    Male
2       11002  1971-02-09    Male
3       11003  1973-08-14  Female
4       11004  1979-08-05  Female
------
Product CRM DataFrame:
   prd_id           prd_key                     prd_nm  prd_cost prd_line  \
0     210  CO-RF-FR-R92B-58  HL Road Frame - Black- 58       NaN       R
1     211  CO-RF-FR-R92R-58    HL Road Frame - Red- 58       NaN       R
2     212   AC-HE-HL-U509-R      Sport-100 Helmet- Red      12.0       S
3     213   AC-HE-HL-U509-R      Sport-100 Helmet- Red      14.0       S
4     214   AC-HE-HL-U509-R      Sport-100 Helmet- Red      13.0       S

  prd_start_dt  prd_end_dt product_id product_sales_id
0   2003-07-01        None      CO_RF       FR_R92B_58
1   2003-07-01        None      CO_RF       FR_R92R_58
2   2011-07-01  2007-12-28      AC_HE        HL_U509_R
3   2012-07-01  2008-12-27      AC_HE        HL_U509_R
4   2013-07-01        None      AC_HE        HL_U509_R
------
Location ERP DataFrame:
  customer_id      CNTRY
0  AW00011000  Australia
1  AW00011001  Australia
2  AW00011002  Australia
3  AW00011003  Australia
4  AW00011004  Australia
------
Product Category ERP DataFrame:
      ID          CAT             SUBCAT MAINTENANCE
0  AC_BR  Accessories         Bike Racks         Yes
1  AC_BS  Accessories        Bike Stands          No
2  AC_BC  Accessories  Bottles and Cages          No
3  AC_CL  Accessories           Cleaners         Yes
4  AC_FE  Accessories            Fenders          No
------
Sales CRM DataFrame:
  sls_ord_num sls_prd_key  sls_cust_id order_date sls_ship_dt sls_due_dt  \
0     SO43697  BK-R93R-62        21768 2010-12-29  2011-01-05 2011-01-10
1     SO43698  BK-M82S-44        28389 2010-12-29  2011-01-05 2011-01-10
2     SO43699  BK-M82S-44        25863 2010-12-29  2011-01-05 2011-01-10
3     SO43700  BK-R50B-62        14501 2010-12-29  2011-01-05 2011-01-10
4     SO43701  BK-M82S-44        11003 2010-12-29  2011-01-05 2011-01-10

   sls_sales  sls_quantity  sls_price
0     3578.0             1     3578.0
1     3400.0             1     3400.0
2     3400.0             1     3400.0
3      699.0             1      699.0
4     3400.0             1     3400.0

In [93]:
# Display summary statistics of each DataFrame
print("Summary statistics for Customer CRM DataFrame: ")
print(cust_crm_df.describe())
print("------")
print("Summary statistics for Customer ERP DataFrame: ")
print(cust_erp_df.describe())
print("------")
print("Summary statistics for Product CRM DataFrame: ")
print(prd_crm_df.describe())
print("------")
print("Summary statistics for Location ERP DataFrame: ")
print(loc_erp_df.describe())
print("------")
print("Summary statistics for Product Category ERP DataFrame: ")
print(px_cat_erp_df.describe())
print("------")
print("Summary statistics for Sales CRM DataFrame: ")
print(sales_crm_df.describe())

Summary statistics for Customer CRM DataFrame:
       customer_id     cst_key cst_firstname cst_lastname cst_marital_status  \
count        18494       18494         18486        18487              18487
unique       18485       18488           687          397                  2
top            nan  AW00029466     Katherine         Diaz                  M
freq             4           3            97          209              10013

       cst_gndr cst_create_date
count     13916           18490
unique        2             114
top           M      2026-01-05
freq       7068            6856
------
Summary statistics for Customer ERP DataFrame:
       customer_id       BDATE   GEN
count        11142       11142  9714
unique       11142        5142     8
top             41  1975-05-01  Male
freq             1          14  4869
------
Summary statistics for Product CRM DataFrame:
           prd_id     prd_cost
count  397.000000   395.000000
mean   408.000000   434.286076
std    114.748275   497.400228
min    210.000000     1.000000
25%    309.000000    37.000000
50%    408.000000   205.000000
75%    507.000000   661.000000
max    606.000000  2171.000000
------
Summary statistics for Location ERP DataFrame:
       customer_id          CNTRY
count        18484          18484
unique       18484             10
top     AW00029483  United States
freq             1           7482
------
Summary statistics for Product Category ERP DataFrame:
           ID         CAT      SUBCAT MAINTENANCE
count      37          37          37          37
unique     37           4          37           2
top     AC_BR  Components  Bike Racks         Yes
freq        1          14           1          20
------
Summary statistics for Sales CRM DataFrame:
        sls_cust_id                     order_date  \
count  60398.000000                          60379
mean   18841.685420  2013-06-09 11:46:05.034200832
min    11000.000000            2010-12-29 00:00:00
25%    14003.000000            2013-04-03 00:00:00
50%    18143.000000            2013-07-14 00:00:00
75%    23429.750000            2013-10-18 00:00:00
max    29483.000000            2014-01-28 00:00:00
std     5432.430404                            NaN

                         sls_ship_dt                     sls_due_dt  \
count                          60398                          60398
mean   2013-06-16 12:21:38.903937280  2013-06-21 12:21:38.903937280
min              2011-01-05 00:00:00            2011-01-10 00:00:00
25%              2013-04-10 00:00:00            2013-04-15 00:00:00
50%              2013-07-21 00:00:00            2013-07-26 00:00:00
75%              2013-10-25 00:00:00            2013-10-30 00:00:00
max              2014-02-04 00:00:00            2014-02-09 00:00:00
std                              NaN                            NaN

          sls_sales  sls_quantity    sls_price
count  60390.000000  60398.000000  60391.00000
mean     486.098725      1.000414    486.00813
min      -54.000000      1.000000  -1701.00000
25%        8.000000      1.000000      8.00000
50%       30.000000      1.000000     30.00000
75%      540.000000      1.000000    540.00000
max     3578.000000     10.000000   3578.00000
std      928.500867      0.044011    928.53838

In [94]:
# Standardize IDs as objects (strings) across all DataFrames
cust_crm_df['customer_id'] = cust_crm_df['customer_id'].astype(str)
cust_erp_df['customer_id'] = cust_erp_df['customer_id'].astype(str)
prd_crm_df['product_id'] = prd_crm_df['product_id'].astype(str)
loc_erp_df['customer_id'] = loc_erp_df['customer_id'].astype(str)
px_cat_erp_df['ID'] = px_cat_erp_df['ID'].astype(str)
sales_crm_df['sls_cust_id'] = sales_crm_df['sls_cust_id'].astype(str)
sales_crm_df['sls_prd_key'] = sales_crm_df['sls_prd_key'].astype(str)

# Verify the changes
print("Data types after standardization:")
print("Customer CRM DataFrame:")
print(cust_crm_df.dtypes)
print("------")
print("Customer ERP DataFrame:")
print(cust_erp_df.dtypes)
print("------")
print("Product CRM DataFrame:")
print(prd_crm_df.dtypes)
print("------")
print("Location ERP DataFrame:")
print(loc_erp_df.dtypes)
print("------")
print("Product Category ERP DataFrame:")
print(px_cat_erp_df.dtypes)
print("------")
print("Sales CRM DataFrame:")
print(sales_crm_df.dtypes)

Data types after standardization:
Customer CRM DataFrame:
customer_id           object
cst_key               object
cst_firstname         object
cst_lastname          object
cst_marital_status    object
cst_gndr              object
cst_create_date       object
dtype: object
------
Customer ERP DataFrame:
customer_id    object
BDATE          object
GEN            object
dtype: object
------
Product CRM DataFrame:
prd_id                int64
prd_key              object
prd_nm               object
prd_cost            float64
prd_line             object
prd_start_dt         object
prd_end_dt           object
product_id           object
product_sales_id     object
dtype: object
------
Location ERP DataFrame:
customer_id    object
CNTRY          object
dtype: object
------
Product Category ERP DataFrame:
ID             object
CAT            object
SUBCAT         object
MAINTENANCE    object
dtype: object
------
Sales CRM DataFrame:
sls_ord_num             object
sls_prd_key             object
sls_cust_id             object
order_date      datetime64[ns]
sls_ship_dt     datetime64[ns]
sls_due_dt      datetime64[ns]
sls_sales              float64
sls_quantity             int64
sls_price              float64
dtype: object

CLEANING AND PREPROCESSING

In [95]:
# Display info for all dataframes to check data types and non-null counts
print("--- cust_crm_df Info ---")
cust_crm_df.info()
print("\n--- prd_crm_df Info ---")
prd_crm_df.info()
print("\n--- sales_crm_df Info ---")
sales_crm_df.info()
print("\n--- cust_erp_df Info ---")
cust_erp_df.info()
print("\n--- loc_erp_df Info ---")
loc_erp_df.info()
print("\n--- px_cat_erp_df Info ---")
px_cat_erp_df.info()

# Check for missing values in each dataframe
print("\n--- Missing Values in cust_crm_df ---")
print(cust_crm_df.isnull().sum())
print("\n--- Missing Values in prd_crm_df ---")
print(prd_crm_df.isnull().sum())
print("\n--- Missing Values in sales_crm_df ---")
print(sales_crm_df.isnull().sum())
print("\n--- Missing Values in cust_erp_df ---")
print(cust_erp_df.isnull().sum())
print("\n--- Missing Values in loc_erp_df ---")
print(loc_erp_df.isnull().sum())
print("\n--- Missing Values in px_cat_erp_df ---")
print(px_cat_erp_df.isnull().sum())

# Check for duplicate rows in each dataframe
print("\n--- Duplicate Rows in cust_crm_df ---")
print(cust_crm_df.duplicated().sum())
print("\n--- Duplicate Rows in prd_crm_df ---")
print(prd_crm_df.duplicated().sum())
print("\n--- Duplicate Rows in sales_crm_df ---")
print(sales_crm_df.duplicated().sum())
print("\n--- Duplicate Rows in cust_erp_df ---")
print(cust_erp_df.duplicated().sum())
print("\n--- Duplicate Rows in loc_erp_df ---")
print(loc_erp_df.duplicated().sum())
print("\n--- Duplicate Rows in px_cat_erp_df ---")
print(px_cat_erp_df.duplicated().sum())

# Display descriptive statistics for numeric columns
print("\n--- cust_crm_df Description ---")
print(cust_crm_df.describe(include='all')) # Use 'all' to include non-numeric columns
print("\n--- prd_crm_df Description ---")
print(prd_crm_df.describe(include='all'))
print("\n--- sales_crm_df Description ---")
print(sales_crm_df.describe(include='all'))
print("\n--- cust_erp_df Description ---")
print(cust_erp_df.describe(include='all'))
print("\n--- loc_erp_df Description ---")
print(loc_erp_df.describe(include='all'))
print("\n--- px_cat_erp_df Description ---")
print(px_cat_erp_df.describe(include='all'))

--- cust_crm_df Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         18494 non-null  object
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: object(7)
memory usage: 1011.5+ KB

--- prd_crm_df Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   prd_id            397 non-null    int64
 1   prd_key           397 non-null    object
 2   prd_nm            397 non-null    object
 3   prd_cost          395 non-null    float64
 4   prd_line          380 non-null    object
 5   prd_start_dt      397 non-null    object
 6   prd_end_dt        200 non-null    object
 7   product_id        397 non-null    object
 8   product_sales_id  397 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 28.0+ KB

--- sales_crm_df Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sls_ord_num   60398 non-null  object
 1   sls_prd_key   60398 non-null  object
 2   sls_cust_id   60398 non-null  object
 3   order_date    60379 non-null  datetime64[ns]
 4   sls_ship_dt   60398 non-null  datetime64[ns]
 5   sls_due_dt    60398 non-null  datetime64[ns]
 6   sls_sales     60390 non-null  float64
 7   sls_quantity  60398 non-null  int64
 8   sls_price     60391 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(1), object(3)
memory usage: 4.1+ MB

--- cust_erp_df Info ---
<class 'pandas.core.frame.DataFrame'>
Index: 11142 entries, 0 to 11141
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  11142 non-null  object
 1   BDATE        11142 non-null  object
 2   GEN          9714 non-null   object
dtypes: object(3)
memory usage: 348.2+ KB

--- loc_erp_df Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  18484 non-null  object
 1   CNTRY        18484 non-null  object
dtypes: object(2)
memory usage: 288.9+ KB

--- px_cat_erp_df Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           37 non-null     object
 1   CAT          37 non-null     object
 2   SUBCAT       37 non-null     object
 3   MAINTENANCE  37 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

--- Missing Values in cust_crm_df ---
customer_id              0
cst_key                  0
cst_firstname            8
cst_lastname             7
cst_marital_status       7
cst_gndr              4578
cst_create_date          4
dtype: int64

--- Missing Values in prd_crm_df ---
prd_id                0
prd_key               0
prd_nm                0
prd_cost              2
prd_line             17
prd_start_dt          0
prd_end_dt          197
product_id            0
product_sales_id      0
dtype: int64

--- Missing Values in sales_crm_df ---
sls_ord_num      0
sls_prd_key      0
sls_cust_id      0
order_date      19
sls_ship_dt      0
sls_due_dt       0
sls_sales        8
sls_quantity     0
sls_price        7
dtype: int64

--- Missing Values in cust_erp_df ---
customer_id       0
BDATE             0
GEN            1428
dtype: int64

--- Missing Values in loc_erp_df ---
customer_id    0
CNTRY          0
dtype: int64

--- Missing Values in px_cat_erp_df ---
ID             0
CAT            0
SUBCAT         0
MAINTENANCE    0
dtype: int64

--- Duplicate Rows in cust_crm_df ---
0

--- Duplicate Rows in prd_crm_df ---
0

--- Duplicate Rows in sales_crm_df ---
0

--- Duplicate Rows in cust_erp_df ---
0

--- Duplicate Rows in loc_erp_df ---
0

--- Duplicate Rows in px_cat_erp_df ---
0

--- cust_crm_df Description ---
       customer_id     cst_key cst_firstname cst_lastname cst_marital_status  \
count        18494       18494         18486        18487              18487
unique       18485       18488           687          397                  2
top            nan  AW00029466     Katherine         Diaz                  M
freq             4           3            97          209              10013

       cst_gndr cst_create_date
count     13916           18490
unique        2             114
top           M      2026-01-05
freq       7068            6856

--- prd_crm_df Description ---
            prd_id           prd_key                     prd_nm     prd_cost  \
count   397.000000               397                        397   395.000000
unique         NaN               295                        295          NaN
top            NaN  CO-RF-FR-R38B-44  LL Road Frame - Black- 44          NaN
freq           NaN                 3                          3          NaN
mean    408.000000               NaN                        NaN   434.286076
std     114.748275               NaN                        NaN   497.400228
min     210.000000               NaN                        NaN     1.000000
25%     309.000000               NaN                        NaN    37.000000
50%     408.000000               NaN                        NaN   205.000000
75%     507.000000               NaN                        NaN   661.000000
max     606.000000               NaN                        NaN  2171.000000

       prd_line prd_start_dt  prd_end_dt product_id product_sales_id
count       380          397         200        397              397
unique        4            4           2         37              295
top          R    2013-07-01  2008-12-27      CO_RF       FR_R38B_44
freq        162          195         128         70                3
mean        NaN          NaN         NaN        NaN              NaN
std         NaN          NaN         NaN        NaN              NaN
min         NaN          NaN         NaN        NaN              NaN
25%         NaN          NaN         NaN        NaN              NaN
50%         NaN          NaN         NaN        NaN              NaN
75%         NaN          NaN         NaN        NaN              NaN
max         NaN          NaN         NaN        NaN              NaN

--- sales_crm_df Description ---
       sls_ord_num sls_prd_key sls_cust_id                     order_date  \
count        60398       60398       60398                          60379
unique       27659         130       18484                            NaN
top        SO58845     WB-H098       11185                            NaN
freq             8        4244          68                            NaN
mean           NaN         NaN         NaN  2013-06-09 11:46:05.034200832
min            NaN         NaN         NaN            2010-12-29 00:00:00
25%            NaN         NaN         NaN            2013-04-03 00:00:00
50%            NaN         NaN         NaN            2013-07-14 00:00:00
75%            NaN         NaN         NaN            2013-10-18 00:00:00
max            NaN         NaN         NaN            2014-01-28 00:00:00
std            NaN         NaN         NaN                            NaN

                          sls_ship_dt                     sls_due_dt  \
count                           60398                          60398
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean    2013-06-16 12:21:38.903937280  2013-06-21 12:21:38.903937280
min               2011-01-05 00:00:00            2011-01-10 00:00:00
25%               2013-04-10 00:00:00            2013-04-15 00:00:00
50%               2013-07-21 00:00:00            2013-07-26 00:00:00
75%               2013-10-25 00:00:00            2013-10-30 00:00:00
max               2014-02-04 00:00:00            2014-02-09 00:00:00
std                               NaN                            NaN

           sls_sales  sls_quantity    sls_price
count   60390.000000  60398.000000  60391.00000
unique           NaN           NaN          NaN
top              NaN           NaN          NaN
freq             NaN           NaN          NaN
mean      486.098725      1.000414    486.00813
min       -54.000000      1.000000  -1701.00000
25%         8.000000      1.000000      8.00000
50%        30.000000      1.000000     30.00000
75%       540.000000      1.000000    540.00000
max      3578.000000     10.000000   3578.00000
std       928.500867      0.044011    928.53838

--- cust_erp_df Description ---
       customer_id       BDATE   GEN
count        11142       11142  9714
unique       11142        5142     8
top             41  1975-05-01  Male
freq             1          14  4869

--- loc_erp_df Description ---
       customer_id          CNTRY
count        18484          18484
unique       18484             10
top     AW00029483  United States
freq             1           7482

--- px_cat_erp_df Description ---
           ID         CAT      SUBCAT MAINTENANCE
count      37          37          37          37
unique     37           4          37           2
top     AC_BR  Components  Bike Racks         Yes
freq        1          14           1          20

In [96]:
# 1. cust_crm_df Cleaning

# Convert to datetime, coercing errors will turn invalid dates into NaT (Not a Time)
# Assign the result back to the column
cust_crm_df['cst_create_date'] = pd.to_datetime(cust_crm_df['cst_create_date'], errors='coerce')

# Fill missing values and assign the result back to the column
cust_crm_df['cst_firstname'] = cust_crm_df['cst_firstname'].fillna('Unknown')
cust_crm_df['cst_lastname'] = cust_crm_df['cst_lastname'].fillna('Unknown')
cust_crm_df['cst_marital_status'] = cust_crm_df['cst_marital_status'].fillna('Unknown')
cust_crm_df['cst_gndr'] = cust_crm_df['cst_gndr'].fillna('Unknown')

# Convert 'nan' strings to actual NaN values and assign the result back to the column
cust_crm_df['customer_id'] = cust_crm_df['customer_id'].replace('nan', pd.NA)

# Optional: Drop rows where customer_id is truly missing (uncomment if you want to apply)
# print(f"Rows before dropping missing customer_id: {len(cust_crm_df)}")
# cust_crm_df.dropna(subset=['customer_id'], inplace=True)
# print(f"Rows after dropping missing customer_id: {len(cust_crm_df)}")

print("cust_crm_df cleaning steps applied.")

# You can re-check missing values to confirm
# print("\n--- Missing Values in cust_crm_df after cleaning ---")
# print(cust_crm_df.isnull().sum())

cust_crm_df cleaning steps applied.

In [97]:
# 2. prd_crm_df
# 1. cust_crm_df Cleaning

# Convert to datetime, coercing errors will turn invalid dates into NaT (Not a Time)
# Assign the result back to the column
cust_crm_df['cst_create_date'] = pd.to_datetime(cust_crm_df['cst_create_date'], errors='coerce')

# Fill missing values and assign the result back to the column
cust_crm_df['cst_firstname'] = cust_crm_df['cst_firstname'].fillna('Unknown')
cust_crm_df['cst_lastname'] = cust_crm_df['cst_lastname'].fillna('Unknown')
cust_crm_df['cst_marital_status'] = cust_crm_df['cst_marital_status'].fillna('Unknown')
cust_crm_df['cst_gndr'] = cust_crm_df['cst_gndr'].fillna('Unknown')

# Convert 'nan' strings to actual NaN values and assign the result back to the column
cust_crm_df['customer_id'] = cust_crm_df['customer_id'].replace('nan', pd.NA)

# Optional: Drop rows where customer_id is truly missing (uncomment if you want to apply)
# print(f"Rows before dropping missing customer_id: {len(cust_crm_df)}")
# cust_crm_df.dropna(subset=['customer_id'], inplace=True)
# print(f"Rows after dropping missing customer_id: {len(cust_crm_df)}")

print("cust_crm_df cleaning steps applied.")

# You can re-check missing values to confirm
# print("\n--- Missing Values in cust_crm_df after cleaning ---")
# print(cust_crm_df.isnull().sum())

cust_crm_df cleaning steps applied.

In [98]:
#3 sales_crm_df
# Handle Missing Values: Drop rows with missing sales-related info (order_date, sls_sales, sls_price)
# as these are crucial for transactional data.
sales_crm_df.dropna(subset=['order_date', 'sls_sales', 'sls_price'], inplace=True)
print(f"sales_crm_df rows after dropping missing sales info: {len(sales_crm_df)}")

# Handle Negative sls_sales and sls_price: Replace negative values with 0
# (assuming sales/prices should not be negative, e.g., representing returns as 0 for sum purposes)
sales_crm_df['sls_sales'] = sales_crm_df['sls_sales'].apply(lambda x: max(x, 0))
sales_crm_df['sls_price'] = sales_crm_df['sls_price'].apply(lambda x: max(x, 0))

print("sales_crm_df cleaning steps applied.")
# print("\n--- Missing Values in sales_crm_df after cleaning ---")
# print(sales_crm_df.isnull().sum())
# print("\n--- sales_crm_df Description after cleaning ---")
# print(sales_crm_df.describe())

sales_crm_df rows after dropping missing sales info: 60364
sales_crm_df cleaning steps applied.

In [99]:
#4 Convert BDATE to Datetime (already done, but including for completeness)
cust_erp_df['BDATE'] = pd.to_datetime(cust_erp_df['BDATE'], errors='coerce')

# Handle Missing GEN values: Fill with 'Unknown' (already done)
cust_erp_df['GEN'] = cust_erp_df['GEN'].fillna('Unknown')

# Standardize GEN values
# 1. Strip whitespace first
cust_erp_df['GEN'] = cust_erp_df['GEN'].str.strip()

# 2. Convert known single letters or variations to 'Male'/'Female'/'Other'
#    It's usually safer to use .map() or .replace() after a .str.upper() or .str.lower() for consistency
cust_erp_df['GEN'] = cust_erp_df['GEN'].str.upper().replace({
    'M': 'Male',
    'F': 'Female',
    'MALE': 'Male',
    'FEMALE': 'Female',
    # Add other explicit mappings if you discover them (e.g., 'NB' for 'Non-Binary')
})

#3. Fill any remaining empty strings or unmapped values (including those that were originally just whitespace)
#    with 'Unknown'. Use pd.NA for robustness if you have actual pandas NA values.
cust_erp_df['GEN'] = cust_erp_df['GEN'].replace('', 'Unknown')
cust_erp_df['GEN'] = cust_erp_df['GEN'].fillna('Unknown') # Catch any actual NaNs that might appear


print("cust_erp_df cleaning steps applied.")
print(f"\nUnique values in cust_erp_df['GEN'] after refined standardization: {cust_erp_df['GEN'].unique()}")
# Check missing values again just to be sure
# print("\n--- Missing Values in cust_erp_df after refined cleaning ---")
# print(cust_erp_df.isnull().sum())

cust_erp_df cleaning steps applied.

Unique values in cust_erp_df['GEN'] after refined standardization: ['Male' 'Female' 'Unknown' 'UNKNOWN']

In [100]:
#5 loc_erp_df
# Handle Missing CNTRY values: Fill with 'Unknown'
loc_erp_df['CNTRY'] = loc_erp_df['CNTRY'].fillna('Unknown')

# Standardize CNTRY values (example - you will need to inspect unique values and refine)
print(f"\nUnique values in loc_erp_df['CNTRY'] before specific standardization: {loc_erp_df['CNTRY'].unique()}")

# Example standardization: Remove leading/trailing whitespace and standardize common variations
loc_erp_df['CNTRY'] = loc_erp_df['CNTRY'].str.strip()
country_replacements = {
    'US': 'United States',
    'U.S.A.': 'United States',
    'UK': 'United Kingdom',
    'GB': 'United Kingdom',
    # Add more as needed based on your unique values
}
loc_erp_df['CNTRY'] = loc_erp_df['CNTRY'].replace(country_replacements)

print("loc_erp_df cleaning steps applied.")
print(f"\nUnique values in loc_erp_df['CNTRY'] after standardization attempt: {loc_erp_df['CNTRY'].unique()}")
# print("\n--- Missing Values in loc_erp_df after cleaning ---")
# print(loc_erp_df.isnull().sum())

Unique values in loc_erp_df['CNTRY'] before specific standardization: ['Australia' 'United States' 'Canada' 'Germany' 'United Kingdom' 'France'
 'Other' '  ' ' ' '   ']
loc_erp_df cleaning steps applied.

Unique values in loc_erp_df['CNTRY'] after standardization attempt: ['Australia' 'United States' 'Canada' 'Germany' 'United Kingdom' 'France'
 'Other' '']

In [101]:
#6 px_cat_erp_df
# Convert MAINTENANCE to a more suitable type (boolean 0/1)
# Assuming 'Yes' and 'No' are the only values apart from potential NaNs
px_cat_erp_df['MAINTENANCE'] = px_cat_erp_df['MAINTENANCE'].map({'Yes': True, 'No': False})
# If you prefer 1/0 instead of True/False:
# px_cat_erp_df['MAINTENANCE'] = px_cat_erp_df['MAINTENANCE'].map({'Yes': 1, 'No': 0})

print("px_cat_erp_df cleaning steps applied.")
# print("\n--- px_cat_erp_df Info after cleaning ---")
# px_cat_erp_df.info()

px_cat_erp_df cleaning steps applied.

6. Parse to Warehouse

In [102]:
wh_url = os.getenv("WAREHOUSE_URL")
conn2 = sqlalchemy.create_engine(wh_url)
load_dotenv()

True

In [103]:
#Import text library

In [104]:
# Verify all tables are dropped
try:
    with conn2.connect() as connection:
        result = connection.execute(text("""
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = 'public'
        """))
        tables = result.fetchall()
        if tables:
            print("Remaining tables in database:")
            for table in tables:
                print(f"- {table[0]}")
        else:
            print("No tables remaining in the database.")
except Exception as e:
    print(f"An error occurred while verifying tables: {e}")

An error occurred while verifying tables: name 'text' is not defined

In [105]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey, Float, DateTime
from sqlalchemy.orm import relationship

# Define metadata
metadata = MetaData()

# Define tables with relationships
cust_erp_table = Table(
    'cust_erp', metadata,
    Column('customer_id', String, primary_key=True),
    Column('BDATE', String),
    Column('GEN', String)
)

cust_crm_table = Table(
    'cust_crm', metadata,
    Column('customer_id', String, ForeignKey('cust_erp.customer_id'), primary_key=True),
    Column('cst_key', String),
    Column('cst_firstname', String),
    Column('cst_lastname', String),
    Column('cst_marital_status', String),
    Column('cst_gndr', String),
    Column('cst_create_date', String)
)

prd_crm_table = Table(
    'prd_crm', metadata,
    Column('product_id', String, primary_key=True),
    Column('prd_key', String),
    Column('prd_nm', String),
    Column('prd_cost', Float),
    Column('prd_line', String),
    Column('prd_start_dt', String),
    Column('prd_end_dt', String)
)

sales_crm_table = Table(
    'sales_crm', metadata,
    Column('sales_order_id', String, primary_key=True),
    Column('sls_cust_id', String, ForeignKey('cust_erp.customer_id')),
    Column('sls_prd_key', String, ForeignKey('prd_crm.product_id')),
    Column('order_date', DateTime),
    Column('sls_ship_dt', DateTime),
    Column('sls_due_dt', DateTime),
    Column('sls_sales', Float),
    Column('sls_quantity', Integer),
    Column('sls_price', Float)
)

loc_erp_table = Table(
    'loc_erp', metadata,
    Column('customer_id', String, ForeignKey('cust_erp.customer_id'), primary_key=True),
    Column('CNTRY', String)
)

px_cat_erp_table = Table(
    'px_cat_erp', metadata,
    Column('product_category_id', String, primary_key=True),
    Column('CAT', String),
    Column('SUBCAT', String),
    Column('MAINTENANCE', String)
)

In [106]:
from tqdm import tqdm

# List of dataframes and their corresponding table names
dataframes = [
    (cust_erp_df, 'cust_erp'),
    (cust_crm_df, 'cust_crm'),
    (prd_crm_df, 'prd_crm'),
    (sales_crm_df, 'sales_crm'),
    (loc_erp_df, 'loc_erp'),
    (px_cat_erp_df, 'px_cat_erp')
]

# Insert data into tables with progress bar
for df, table_name in tqdm(dataframes, desc="Inserting data into tables"):
    df.to_sql(table_name, conn2, if_exists='append', index=False)

print("Data inserted successfully.")

Inserting data into tables: 100%|██████████| 6/6 [00:59<00:00,  9.92s/it]

Data inserted successfully.

In [107]:
#Read sample tables to verify
def read_sample_table(table_name, conn):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    return pd.read_sql(query, conn)

# Read sample data from each table
sample_cust_erp = read_sample_table('cust_erp', conn2)

sample_cust_erp

  customer_id      BDATE     GEN
0       11000 1971-10-06    Male
1       11001 1976-05-10    Male
2       11002 1971-02-09    Male
3       11003 1973-08-14  Female
4       11004 1979-08-05  Female

7. Read as Dataframe

In [108]:
# List of table names
table_names = ['cust_erp', 'cust_crm', 'prd_crm', 'sales_crm', 'loc_erp', 'px_cat_erp']

# Dictionary to store DataFrames
dataframes = {}

# Read tables with progress bar
for table_name in tqdm(table_names, desc="Reading tables"):
    dataframes[table_name] = pd.read_sql(f'SELECT * FROM {table_name}', conn2)

# Assign DataFrames to variables
cust_erp = dataframes['cust_erp']
cust_crm = dataframes['cust_crm']
prd_crm = dataframes['prd_crm']
sales_crm = dataframes['sales_crm']
loc_erp = dataframes['loc_erp']
px_cat_erp = dataframes['px_cat_erp']

print("Tables read successfully.")

Reading tables:   0%|          | 0/6 [00:00<?, ?it/s]

Reading tables: 100%|██████████| 6/6 [00:23<00:00,  3.99s/it]

Tables read successfully.

In [109]:
import streamlit as st
import pandas as pd

import plotly.express as px

# Load data
@st.cache
def load_data():
    cust_crm = pd.read_csv('./source_crm/cust_info.csv')
    cust_erp = pd.read_csv('./source_erp/CUST_AZ12.csv')
    prd_crm = pd.read_csv('./source_crm/prd_info.csv')
    sales_crm = pd.read_csv('./source_crm/sales_details.csv')
    loc_erp = pd.read_csv('./source_erp/LOC_A101.csv')
    px_cat_erp = pd.read_csv('./source_erp/PX_CAT_G1V2.csv')
    return cust_crm, cust_erp, prd_crm, sales_crm, loc_erp, px_cat_erp

cust_crm, cust_erp, prd_crm, sales_crm, loc_erp, px_cat_erp = load_data()

# Streamlit app
st.title("Business Data Dashboard")

# Sidebar navigation
st.sidebar.title("Navigation")
options = st.sidebar.radio("Select a dataset to view:",
                            ["Customer CRM", "Customer ERP", "Product CRM", "Sales CRM", "Location ERP", "Product Category ERP"])

# Display selected dataset
if options == "Customer CRM":
    st.header("Customer CRM Data")
    st.dataframe(cust_crm)
    st.subheader("Summary Statistics")
    st.write(cust_crm.describe())
elif options == "Customer ERP":
    st.header("Customer ERP Data")
    st.dataframe(cust_erp)
    st.subheader("Summary Statistics")
    st.write(cust_erp.describe())
elif options == "Product CRM":
    st.header("Product CRM Data")
    st.dataframe(prd_crm)
    st.subheader("Summary Statistics")
    st.write(prd_crm.describe())
elif options == "Sales CRM":
    st.header("Sales CRM Data")
    st.dataframe(sales_crm)
    st.subheader("Summary Statistics")
    st.write(sales_crm.describe())
elif options == "Location ERP":
    st.header("Location ERP Data")
    st.dataframe(loc_erp)
    st.subheader("Summary Statistics")
    st.write(loc_erp.describe())
elif options == "Product Category ERP":
    st.header("Product Category ERP Data")
    st.dataframe(px_cat_erp)
    st.subheader("Summary Statistics")
    st.write(px_cat_erp.describe())

# Visualization
st.sidebar.title("Visualization")
visualization = st.sidebar.radio("Select a visualization:",
                                  ["Sales by Product", "Customer Distribution by Country", "Product Categories"])

if visualization == "Sales by Product":
    st.header("Sales by Product")
    sales_summary = sales_crm.groupby('sls_prd_key')['sls_sales'].sum().reset_index()
    fig = px.bar(sales_summary, x='sls_prd_key', y='sls_sales', title="Total Sales by Product")
    st.plotly_chart(fig)
elif visualization == "Customer Distribution by Country":
    st.header("Customer Distribution by Country")
    country_distribution = loc_erp['CNTRY'].value_counts().reset_index()
    country_distribution.columns = ['Country', 'Count']
    fig = px.pie(country_distribution, names='Country', values='Count', title="Customer Distribution by Country")
    st.plotly_chart(fig)
elif visualization == "Product Categories":
    st.header("Product Categories")
    category_distribution = px_cat_erp['CAT'].value_counts().reset_index()
    category_distribution.columns = ['Category', 'Count']
    fig = px.bar(category_distribution, x='Category', y='Count', title="Product Categories Distribution")
    st.plotly_chart(fig)

2025-05-26 19:55:28.369 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.371 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.372
`st.cache` is deprecated and will be removed soon. Please use one of Streamlit's new
caching commands, `st.cache_data` or `st.cache_resource`. More information
[in our docs](https://docs.streamlit.io/develop/concepts/architecture/caching).

**Note**: The behavior of `st.cache` was updated in Streamlit 1.36 to the new caching
logic used by `st.cache_data` and `st.cache_resource`. This might lead to some problems
or unexpected behavior in certain edge cases.

2025-05-26 19:55:28.374 No runtime found, using MemoryCacheStorageManager
2025-05-26 19:55:28.434 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.436 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.437 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.439 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.441 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.442 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.443 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.444 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.446 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.447 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.451 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.454 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.512 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.514 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.516 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.517 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.529 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.531 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.533 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.534 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.536 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.537 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.538 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.540 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.541 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.546 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.548 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.641 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.643 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.644 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-26 19:55:28.645 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.